body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-areas:
        'header header header header'
        'side main main main'
        'side main main main'
        'footer footer footer footer';
    width: auto;
    height: auto;

}

.hea {
    grid-area: header;
    background-color: #E9EFC0;
    display: flex;
    align-self: center;
    justify-content: space-around;
    border: 5px double black;

}

.hea img {
    width: 5vw;
    height: 10vh;
    border-radius: 50%;
}

.side-bar {
    grid-area: side;
    background-color: #A2B38B;
    border: 5px double black;
    
    
}


#list{
    display: flex;
    align-self: flex-start;
    width: 10vw;
    flex-direction: column;
    list-style: none;
    font-size:xx-large;
    line-height: 20vh;
}

.main {
    grid-area: main;
    background-color: #B4E197;
    border: 5px double black;
    
}

.me {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me p{
    font-style: italic;
    font-size:x-large;
    text-align: center;
}

.me img {
    width: 30vw;
    height: 50vh;
    border-radius: 50%;

}

.me img:hover {
    animation: img 2s 1s alternate;

}

.me h1 {
    text-align: center;
}

.git {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.git img {
    width: 37vw;
    height: 44vh;
    border-radius: 5%;
}

.git p {
        text-align: center;
        font-size:x-large;
}



.mephoto {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallrey {
    display: flex;
    border: 3px solid black;
    border-radius: 25%;
    width: 40vw;
    height: 60vh;
    animation: gallrey 15s infinite alternate linear;

}

@keyframes gallrey {
    0% {
        background-image: url(./images/sigi.jpeg);
        background-size: 100% 100%;
    }

    25% {
        background-image: url(./images/T-black.jpeg);
        background-size: 100% 100%;
    }

    50% {
        background-image: url(./images/T-red.jpeg);
        background-size: 100% 100%;
    }

    75% {
        background-image: url(./images/t-pink.jpeg);
        background-size: 100% 100%;
    }

    100% {
        background-image: url(./images/t-yellow.jpeg);
        background-size: 100% 100%;
    }
}



.footer {
    grid-area: footer;
    background-color: #4E944F;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 5px double black;
}

.footer img {
    width: 5vw;
    height: 10vh;
    align-items: center;
    border-radius: 15%;

}