body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template-areas:
    'header header header header'
    'side side side side'
    'main main main main'
    'footer footer footer footer';
    width: auto;
    height: auto;

}
.hea{
    grid-area: header;
    background-color:#4dd9e9;
    display: flex;
    align-self: center;
    justify-content: space-around;
    
    

}
.hea img{
    width: 10vw;
    height: 10vh;
    border-radius: 60%;
}
.side-bar{
    grid-area: side;
    background-color: #f0eff5dc;
    /* display: none; */
    

}
#list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size:x-large;
    font-style:italic;
    border: 1px solid black;
    
    
}
.main{
    grid-area: main;
    background-color: #24222065;
}
.me{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.me img{
    width: 50vw;
    height: 40vh;
    border-radius: 50%;
    
}
.me img:hover{
    animation: img 2s  1s  alternate;

}
.me p{
    text-align: center;
}
.me h1{
    text-align: center;
}
.git{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.git img{

    width: 30vw;
    height: 24vh;

}
.mephoto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallrey{
    display:flex ;
    width: 60vw;
    height: 30vh;
    animation: gallrey 15s infinite alternate linear ;
    
}
@keyframes gallrey {
    0% {background-image: url(./images/sigi.jpeg);
        background-size: 100% 100%;
    }
    25%{background-image: url(./images/T-black.jpeg);
        background-size: 100% 100%;
    }
    50%{background-image: url(./images/T-red.jpeg);
    background-size: 100% 100%;
    }
    75%{background-image: url(./images/t-pink.jpeg);
        background-size: 100% 100%;
    }
    100%{background-image: url(./images/t-yellow.jpeg);
        background-size: 100% 100%;
    }
}



.footer{
    grid-area: footer;
    background-color: #4dd9e9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer img{
    width:12vw ;
    height:9vh ;
    align-items: center;
    border-radius: 25%;
    
}